## .NET / Visual Studio
bin/
obj/
out/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VS Code
.idea/
.vs/
.vscode/

## Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
coverage*.json
coverage*.xml
coverage*.info

## OS
.DS_Store
Thumbs.db
